@model HS.Models.EquipmentViewModel

<table>
    <thead>
        <tr>
            <th>Equipment Name</th>
            <th>Manufacturer Name</th>
            <th>Model Number</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.EquipmentName</td>
            <td>@Model.ManufacturerName</td>
            <td>@Model.ModelNumber</td>
            <td>@Model.Quantity</td>
            <td>@Model.Price</td>
        </tr>
    </tbody>
</table>
